/* tablet responsive */
@media screen and (min-width:601px) and (max-width:992px) {
    .nav-bar-menu {
      width: 100%;
    }
    .nav-bar-text-logo {
      flex-direction: column;
    }
    .nav-bar-area {
      flex-direction: column;
    }  
    /* popular tour area */
    
    .popular-tour-area {
        flex-direction: column;
        }
        .popular-tour-text {
          width: 100%;
        }
        .popular-tour-img {
          width: 100%;
        }
        /* video section */
        .video-section-area{
          flex-direction: column;
        }
        .text-section{
          width: 100%;
        }
        .video-title{
          font-size: 2.5rem;
        }
        }
  /* mobile responsive */
  @media screen and (max-width:600px) {
    .list{
        display: none;
        
    }
    #menu-list{
        gap: 0px;
    }
    #menu-list .burger{
        font-size: 2rem;
        display: block;
        color:gray;
        
    }
    .nav-bar-text-logo {
        /* width: 50%; */
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .nav-bar-text-logo h2 {
        font-size: 1.2rem;
        width: 100px;
      }
       .nav-bar-text-logo img{
        width: 100%;
       }        
       #banner{
        height: 100%;
        width: 100%;
      
    }
    .banner-area {
        margin: 5px;
        padding: 20px;
    }
    .banner-title {
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 20px;
        color: var(--text-color);
      }
      .banner-desc {
        width:100%;
        text-align: center;
        margin: 0 auto;
        font-weight: 400;
        color: var(--text-color);
      }
      .banner-input-section {
       flex-direction: column;
        
      }
      .banner-button{
       width: 100%;
      }
      #when-input{
        width: 100%;
      }
      #select-input{
        width: 100%;
      }
      .banner-input-text{
        width: 100%;
        text-align: left;
        
      }
    /* banner section end */
  
    /* popular tour area */
    .popular-tour-area{
        flex-direction: column;
      }
      .popular-tour-text{
        width: 100%;
        line-height: normal;
      }
      .popular-tour-img{
        width: 100%;
    }
    /* destination */
    
    .destination-area{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7 ,1fr);
      height: 100%;
      
    }
    .maldiiv{
       grid-column: 1/span 1;
      grid-row: 1 /span 1;
      height: 170px;
      width: 100%;
    }
    .indonisia{
      grid-column: 1/span 1;
      grid-row: 2 /span 1;
      height: 170px;
      width: 100%;
    }
    .Srilanka{
      grid-column: 1/span 1;
      grid-row: 3 /span 1;
      height: 170px;
      width: 100%;
    }
    .North-america{
      grid-column: 1/span 1;
      grid-row: 4 /span 1;
      height: 170px;
      width: 100%;
    }
    .Kashmir{
      grid-column: 1/span 1;
      grid-row: 5 /span 1;
      height: 170px;
      width: 100%;
    }
    .Bangladesh{
      grid-column: 1/span 1;
      grid-row: 6 /span 1;
      height: 170px;
      width: 100%;
    }
    .Bandarban{
      grid-column: 1/span 1;
      grid-row: 7 /span 1;
      height: 170px;
      width: 100%;
    }
    .destination-desc{
      width: 300px;
      margin: 20px auto;
     
    }    